body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

.font-example {
    text-align: center;
}

.font-example p{
    margin-bottom: 30px;
}

.font-example ul{
    list-style-type: none;
    margin-top: 30px;
}

.font-example li{
    padding: 5px;
}

li:nth-child(1){
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li:nth-child(2){
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li:nth-child(3){
    font-family:'Courier New', Courier, monospace;
}

li:nth-child(4){
    font-family:cursive;
}

li:nth-child(5){
    font-family:fantasy;
}

