a[href="https://example.com"] {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 20px;
    margin-right: 20px;
    color: red;
}

a[href="https://another.com"] {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 20px;
    margin-right: 20px;
    color: green;
}