body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
}

.small-text{
    font-size: small;
}

.medium-text{
    font-size: medium;
}

.large-text{
    font-size: large;
}

.extra-large-text{
    font-size: x-large;
}

.extra-small-text{
    font-size: x-small;
}