.left-align{
    text-align: left;
}

.center-align{
    text-align: center;
}

.right-align{
    text-align: right;
}

.justify-align{
    text-align: justify;
    background-color: lavender;
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
}

