body{
    background-color: black;
}

h1{
    background-color: white;
    text-align: center;
}

.first-color{
    background-color: blue;
}

.second-color{
    background-color: green;
}

.third-color{
    background-color: chocolate;
}